.title {
    text-align: center;
    color: rgb(65, 61, 61);
}

.Icon {
    position: relative;
    top: 5px;
}

.Drawer {
    height: 300px;
}

.b2onLogo {
    width: 10rem;
}

.Content {
    background-color: rgb(226, 222, 222);
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.navLinks li {
    margin-right: 4rem;
    list-style: none;
}

.Link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: block;
    padding: 5px;
}


.accountLogin {
    margin-right: 30px;
}

.Switch {
    margin-top: 6rem;
 }

@media screen and (min-width: 720px) {

.Switch {
   margin-left: 10rem;

}

}